{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{%block title%}{%endblock%}</title>
        <meta name="description" content="This Is Our Online Store" />

        <link rel="stylesheet" href="{% static 'css/base.css'%}">
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="{% static 'css/back-img.css'%}">
        <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
        {%block style%}{%endblock%}
    </head>
    <body style="margin: 0px;">
        <header class='h-1'>
            <a class="none" href="{% url 'home'%}" >
                <span>Sooq Online</span>

            </a>
            <ul class="contianer">
                {%if user.is_authenticated%}
                <li class='user-name'>
                    <a  href="{% url 'profile' user.id%}">
                        {{user.username}}
                    </a>
                </li>
                <li>
                    <a href="{%url 'logout'%}">
                        logout
                    </a>
                </li>
                {%else%}
                <li>
                    <a href="{% url 'login'%}">
                        login
                    </a>
                </li>
                <li>
                    <a href="{% url 'sign_up'%}">
                        sign-up
                    </a>    
                </li>
                {%endif%}
            </ul>
        </header>
        {%block contant%}{%endblock%}
    </body>

</html>