{%extends 'base.html'%}

{%load static%}
<html>
{%block style%}
<style>
    div.fixed {
      position: fixed;
      bottom: 0;
      left:0;
      width: 6666px;
    }
    div.fixeds {
      position: fixed;
      bottom: 0;
      right:0;
    
    }
    </style>
         <style>
         .left-col {
      width: 50%;
      text-align:center;
      min-height: 500px;
      border-right: 5px solid black;
      float: left;
      box-sizing: border-box;
    }
    
    .right-col {
      width: 50%;
      min-height: 200px;
      float: right;
    }
    
         </style>
  {%endblock%}
  
  {%block breadcrumb%}
        <li class="breadcrumb-item "><a href="{% url 'home' %}">home</a></li>
        <li class="breadcrumb-item active">{{Post.post_create}}</li>
      {%endblock%}



    {%block contant%}
  <div>
    {%for texts in chat%}

    {%if texts.Chat_Posts_rel.id  == id%}
    <p>{{texts.message}}</p>
    {%endif%}

    {%endfor%}
  </div>
    <form method="post" name="from" novalidate>
        {% csrf_token %}
    
    <div class="form-group"  >
    
             <div class="fixed">
                 <input  type="text" class="form-control" style="font-family:Segoe Script;" name="talk" placeholder="send a message" >
             </div>
              <div class="fixeds">
                 <button type="submit" class="btn btn-success">send</button>
              </div>
    
    </div>
    </form>
    {%endblock%}

