{%extends 'base.html'%}

{%block title%}Sooq.com {%endblock%}

{%block style%}
        <style>
            table,th,td{
                border: 2px solid black;
                border-width: 5px;
                padding: 10px;
                font-size: large;
            }
       

        </style>
{%endblock%}

{%block breadcrumb%}
<li class='breadcrumb-item active'>home</li>
{%endblock%}

{%block contant%}
    <center>
        <div>
            <table style="size:50px;">
            <tr >
                <th>Name</th>
                <th>discripe</th>
            </tr>
            {%for prd in prodects%}

                <tr>
                    <td><a href="{%url 'Posts' prd.pk%}">{{prd.name}}</a></td>
                    <td>{{prd.discription}}</td>
                </tr>

            {%endfor%}
        </table>
        </div>
    </center>
{%endblock%}
