{%extends 'base.html'%}
{%load static%}
{%block title%}Sooq.com {%endblock%}
{%block style%}
<link rel="stylesheet" href="{%static 'css/home.css' %}"/>

{%endblock%}

{%block contant%}
    <nav class="n-1">
        <ul on class="u-1">
            <li class='li-1' title="Home"><a href="{% url 'home'%}">Home</a></li>

            {% for prd in prodects %}
            <li class="a-1">
                <a href="{% url 'Posts' prd.id%}">
                    {{prd.name}}  
                </a>   
            </li>
            {%endfor%} 
            <li title="Contact with us ">Tell us</li>
            <li class="li-2">
            <button type="submit" class="btn-1">
                <img style='padding: 2px;' src="{% static 'img/loupe-svg.svg'%}"/>
            </button>
            </li>

        </ul>
        
        
    </nav>
{%endblock%}