{%extends 'base.html'%}
{%load widget_tweaks%}
{%load static%}

        {%block title%}Login{%endblock%}
        {%block style%}
                <link rel="stylesheet" href="{% static 'css/login.css'%}"/>
        {%endblock%}
  
{%block contant%}
        <div class="parent">
                <div class="header">
                        <span>Login Form</span>
                </div>
                <form name="form" method="POST" >
                        {%csrf_token%}
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}    
                        <label>{{form.visible_fields.label_tag}}</label>
                        {% for field in form.visible_fields %}  
                        {{ field|add_class:'input' }}
               
                        {% for error in field.errors %}
                        <span >{{ error }}</span>
                        {% endfor %}
                  
                        {%endfor%}
                        <button type="submit" class="btn">Login</button>

                </form>     
      


{%endblock%}
