{%extends 'base.html'%}
        {%block title%}POSTS{%endblock%}


        {%block style%}
        <style>

            .div {
                background-color: rgb(250, 198, 198);
                width: 1000px;
                border: 10px solid rgb(0, 0, 0);
                padding: 50px;
                margin: 20px;
}
        </style>

        {%endblock%}
        {%block breadcrumb%}
        <li class='breadcrumb-item '><a href="{%url 'home'%}">Home</a></li>
        <li class='breadcrumb-item  '>Posts</li>
        <li class='breadcrumb-item active '>{{post_show_all.name}}</li>
        {%endblock%}
{%block contant%}

        <div > 
            <a href="{%url 'Add_Posts' post_show_all.pk%}">Add Post</a>
        </div>
    {%for i in queryset%}
  <div class="div">
      sd
  </div>
    {%if user == i.post_create%}
    <div>
        <a href="{%url 'Chat' i.id i.type_of_prodect   %}"> My_Chat </a>
    </div>
    {%else%}
    <a href="{%url 'Chat' i.id i.type_of_prodect   %}"> Chat </a>

    {%endif%}
    
    {%endfor%}

{%endblock%}